<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> and welcome to Pop Events !</h1>
    <p>
     You registered on Pop events with the mail : <%= @user.email %>.
    </p>
    <p>
      Connect to your user dashboard at : <%= @url %>.
    </p>
    <p> See you soon on Pop events !
  </body>
</html>