<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

</head>

<body>

  <div class="container">


    <header class="jumbotron background border shadow-lg my-4 rounded">
      <h1 class="h1-responsive text-center"> <br> Participe à un évenement dans <br> ta ville ! <br> <br></h1>
      <p class="lead border-bottom pb-3">Eventbrite est une plateforme qui permet aux organisateurs d'événements de planifier, promouvoir et vendre des billets pour des événements.</p>
      <a href="/events/new" class="btn btn-primary btn-lg mt-3">Ajouter un évenement !</a>
    </header>


    <div class="row text-center">
<%Event.all.each do |event|%>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title"><%=event.title%></h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
<a class="btn btn-primary" href="/events/<%=event.id%>" role="button">Link</a>
          <div class="card-footer">
          </div>
        </div>
      </div>
<%end%>
    

    </div>

  </div>

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>

  </footer>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

<style type="text/css">  
  .jumbotron {
  margin-top: 120px!important;
  margin-bottom: 50px!important; 
}

.background{
  background:url("free-blurred-web-backgrounds-07.jpg")!important;
  background-size:cover;

}</style>
